<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title if title else "Skriv titel i python dumfan" }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<nav class="navbar">
        <a href="/site/songs" class="nav-link">Songs</a>
        <a href="/site/upload" class="nav-link">Uploads</a>
        <a href="/site/media" class="nav-link">Media Library</a>
        <a href="/site/laboratory" class="nav-link">Laboratory</a>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block extra_js %}{% endblock %}
</body>
</html>