<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFK produktions</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<
<body>
<header>
    <h1>Hello</h1>
</header>
<main>
    <div id="popup" class="popup hidden">
        <p id="popup-message"></p>
        <button onclick="closePopup()">OK</button>
    </div>

    <div id="drag-and-drop" class="drag-drop-area">
        <p>Drag and drop your files here, or click the button to choose files.</p>
        <input type="file" id="file-input" multiple hidden>
        <button id="upload-button">Choose Files</button>
        <button id="confirm-upload" disabled>Upload Files</button>
        <div id="file-list"></div> <!-- Här visas filnamnen -->
    </div>

    <div id="song-list">
        <h2>All Songs</h2>
        <ul>
            <!-- Dynamiskt innehåll kommer att genereras här -->
        </ul>
    </div>
</main>
<script type="module" src="../static/js/main.js"></script>

</body>
</html>