{% extends 'base.html' %}

{% block title %}
Laboratory
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratory.css') }}">
{% endblock %}

{% block content %}

<main>
    <h1>
        Laboratory
    </h1>
    <div class="lyrics-cards">
      <!--
        title h2
        lyrics p
        -->
    </div>
</main>
<audio id="audio" controls>
  <source src="{{ url_for('static', filename='Benzo.mp3') }}" type="audio/mpeg">
</audio>

<div id="background-canvas">
    <canvas id="canvas"></canvas>

</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/laboratory.js') }}"></script>
<script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
{% endblock %}