{% extends 'base.html' %}

{% block title %}
Song List
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/songs.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Song List</h1>
    <p id="error-message" style="color: red;"></p>
    <table id="songs-table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>Stream/download</th>
            <th>Instagram</th>
            <th>YouTube</th>
            <th>Spotify</th>
            <th>TikTok</th>
            <th>Other Media</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="song-table-body">
        <!-- Songs will be populated here  -->
        </tbody>
    </table>
</div>

<!-- Modal for Song Details -->
<div id="song-modal" class="modal" style="display: none;">
  <div class="modal-content">
    <span id="close-modal" class="close">&times;</span>
    <h2 id="modal-title"></h2>
    <p><strong>Genre:</strong> <span id="modal-genre"></span></p>
    <p><strong>Duration:</strong> <span id="modal-duration"></span></p>
    <p><strong>Description:</strong> <span id="modal-description"></span></p>
    <video id="modal-video-player" controls style="width: 100%; display: none;"></video>
    <div>
      <a id="modal-download" href="#" download>Download</a>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='/js/songs.js') }}"></script>
{% endblock %}
