<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/upload.css">

</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="nav-link">Home</a>
        <a href="/upload" class="nav-link">Uploads</a>
        <a href="/media" class="nav-link">Media Library</a>
    </div>
</nav>

<!-- Main Content -->
<div class="container">
    <h1>Upload Data</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <!-- Track Information -->
        <fieldset>
            <legend>Track Information</legend>
            <label for="title">Track Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter track title" required>
        </fieldset>

        <!-- Producer Information -->
        <fieldset>
            <legend>Producer Information</legend>
            <label for="producer">Producer Name:</label>
            <input type="text" id="producer" name="producer" placeholder="Enter producer name">

            <label for="lyriks_writer">Lyrics Writer:</label>
            <input type="text" id="lyriks_writer" name="lyriks_writer" placeholder="Enter lyrics writer">
        </fieldset>

        <!-- Song File -->
        <fieldset>
            <legend>Song File</legend>
            <div id="song-drop-zone" class="drop-zone">Drag and drop your song file here or click to select</div>
            <input type="file" id="song_file" name="song_file" accept=".mp3,.wav" required style="display: none;">

            <label for="song_genere">Song Genre:</label>
            <input type="text" id="song_genere" name="song_genere" placeholder="Enter song genre">
        </fieldset>

        <!-- Image Data -->
        <fieldset>
            <legend>Image Data</legend>
            <div id="img-drop-zone" class="drop-zone">Drag and drop your image file here or click to select</div>
            <input type="file" id="img_file" name="img_file" accept=".jpg,.png" required style="display: none;">
        </fieldset>

        <button type="submit">Upload</button>
    </form>


</div>

<script src="../static/js/upload.js"></script>
</body>
</html>
