.navbar {
    background-color: var(--transparent-dark);
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-link {
    color: #ffffff !important;
    text-decoration: none;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    font-size: 1rem !important;
    text-transform: none !important;
    min-width: unset !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    transition: var(--hover-transition);
}

.nav-link:hover {
    background-color: var(--hover-bg-color) !important;
}


.MuiMenu-paper {
    background-color: var(--transparent-dark) !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
}

.MuiMenuItem-root {
    padding: 0 !important;
}

.dropdown-item {
    color: #ffffff !important;
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
    display: block;
    transition: var(--hover-transition);
}

.dropdown-item:hover {
    background-color: var(--hover-bg-color);
}

.socials {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: auto;
}

.social-button {
    padding: 5px !important;
    min-width: unset !important;
}

.nav-items-center {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spacer {
    width: 0;
    visibility: hidden;
}