.sidebar {
    position: fixed;
    width: 300px;
    height: 75%;
    top: 0;
    bottom: 0;
    right: 0;
    
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: none;
  }
  
  .sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
  }
  
  .playlist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .playlist-item {
    background-color: #282828;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .playlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .playlist-header:hover {
    background-color: #333;
  }
  
  .playlist-header.expanded {
    background-color: #236f927a;
    color: #fff;
  }
  
  .playlist-name {
    font-weight: bold;
  }
  
  .playlist-toggle {
    font-size: 20px;
  }
  
  .track-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .playlist-item:has(.playlist-header.expanded) .track-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .track-item {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    padding: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .track-item:hover {
    background-color: #34647944;
  }
  
  .track-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .indicator-container {
    width: 24px;
    text-align: center;
    flex-shrink: 0;
  }
  
  
  .playing-indicator {
    color: #236f92;
    width: 24px;
    text-align: center;
    flex-shrink: 0;
  }

  .track-item.playing {
    background-color: #ffffff34; /* Change to your desired highlight color */
    font-weight: bold; /* Optional: makes the text bold */
  }
  

  .sidebar-loader,
  .sidebar-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: #b3b3b3;
  }