/* General Reset */
body, h1, h2, h3, p, ul, ol, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #555;
}

/* Container */
.container {

    max-width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 2em;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: rgba(242, 242, 242, 0.3);
}

.editButton {
    background-color: #ffc107;
    color: black;
}

.saveButton {
    background-color: #28a745;
    color: white;
}

/* Drop Zones */
.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.drop-zone:hover {
    border-color: #007bff;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
