/* Specific Styling for Songs Page */
#error-message {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
}

table th, table td {
    text-align: center;
}

table img {
    border-radius: 5px;
    object-fit: cover;
}

audio {
    margin-top: 5px;
    width: 100%;
}
