/* Specific Styling for Songs Page */
#error-message {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
}

table th, table td {
    text-align: center;
}

table img {
    border-radius: 5px;
    object-fit: cover;
}

audio {
    margin-top: 5px;
    width: 100%;
}

#songs-table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
}

.editable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.editable input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(221, 221, 221, 0.3);
}