.view-switcher {
    margin-left: em;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.view-select {
    padding: 8px 12px;
    border-radius: 6px;
    color: #236f92;
    font-size: 14px;
    cursor: pointer;
    transition: var(--hover-transition);
}

.view-select:hover {
    background-color: var(--hover-bg-color);
    color: white;
    transform: var(--hover-scale);
}

.view-select:focus {
    outline: none;
    box-shadow: var(--hover-shadow);
}

.view-switcher select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #236f92;
  background-color: var(--transparent-light);
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}

.view-switcher select:hover {
  background-color: rgba(35, 111, 146, 0.1);
}

.view-switcher select:focus {
  outline: none;
  border-color: #236f92;
  box-shadow: 0 0 0 2px rgba(35, 111, 146, 0.2);
}

.view-select.active {
    background-color: #236f92;
    color: white;
}

.view-select option {
  background-color: #ffffff00;
  color: #000000;
}

.view-select option:hover {
  background-color: #236f92;
  color: white;
}