/* General Reset */
:root {
  --hover-bg-color: rgba(241, 241, 241, 0.26);
  --hover-transition: background-color 0.3s ease;
  --hover-scale: scale(1.02);
  --hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --transparent-light: rgba(255, 255, 255, 0.3);
  --transparent-dark: rgba(0, 0, 0, 0.4);
  --transparent-slight: rgba(0, 0, 0, 0.1);
}

body, h1, h2, h3, p, ul, ol, table, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9, 9, 121, 0.507) 35%, rgba(255, 0, 0, 0.733) 100%);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: fit-content;
  background-color: var(--transparent-light);
  border-radius: 10px;
  padding: 2em;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border: 1px solid;
  align-content: center;
  margin-top: 1%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--hover-transition);
}

button:hover {
  background-color: #0056b3;
  transform: var(--hover-scale);
  box-shadow: var(--hover-shadow);
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.songs-container::-webkit-scrollbar,
.songs-container::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html, body, .songs-container, .songs-content {
  scrollbar-width: none; /* Firefox */
}

/* For IE and Edge */
html, body, .songs-container, .songs-content {
  -ms-overflow-style: none;  /* IE and Edge */
}
