/* General Reset */
body, h1, h2, h3, p, ul, ol, table, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2em;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border: 1px solid;
  align-content: center;
  margin-top: 1%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}